/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.app-header{
    border: 1px solid;
}

.app-search-form{
    float: right;
    margin-top: 2.3%;
    border: 1px solid;

}

img{
    width:100px;
    margin: 7px;
}

.app-logo-container{
    padding: 15px;
    background-color: lightcyan;
    border-radius: 1px solid;
}

a{
    width: 24.75%;
    display: inline-block;
    text-align: center;
}

nav{
    background-color: darkkhaki;
    padding: 10px;
    border: 1px solid;
    
}
.app-content{
    display: table-cell;
    width: 20%;
    vertical-align: top;
    background-color:aquamarine;
    border: 1px solid;
}
.app-content ul{
    list-style: none;
       
}

.app-content-section{
    width: 950px;
    text-align: center;
    
}
.post-img {
    width: calc(32.96% - 80px);
    
    padding-bottom: 100px;
}
.post-img:nth-child(3), .post-img:nth-child(6){
    margin-left: 0px;

}
.app-footer{
    border: 1px solid;
    margin: 15px;
    background-color: lightgreen;
}
 
.app-content-aside{
    text-align: center;
}    

